@tailwind base;
@tailwind components;
@tailwind utilities;

#name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: top 1s, opacity 1s;
  
}

#name.animate {
  top: 30%;
  opacity: 1;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.icon-container {
  opacity: 0;
  animation: fade-in 1s ease-in-out 2s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

